body {
    background: url("image/animal.png") no-repeat aqua;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: red;
    background-color: cornsilk;
}
h1 {
    text-align: end;
    color: royalblue;
}
h2 {
    text-align: center;
    font-style: italic;
    letter-spacing: normal;
    background-color: cornsilk;
}
a {
    color: blue;
}
a:hover {
    color: red;
    font-weight: bolder;
    font-size: larger;
}
a:active {
    color: pink;
}
a:visited {
    color: purple;
}